div {
    text-align: justify;
    margin: auto 15%;
}

h1,
h2,
h3 {
    font-family: sans-serif;
    margin-top: 1.5em;
    clear: both;
}

h1 {
    font-size: 32px;
}

table,
tr,
th,
td {
    border: black solid 1px;
    border-collapse: collapse;
}

table {
    margin: auto 15%;
}

figcaption {
    font-style: italic;
}

figure {
    float: right;
    margin: 1em 0 1em 1em;
}
.cite{
    margin: auto 10%; 
    background-color: whitesmoke;
    padding: 10px;
    border-radius: 5px;
}
a{
    color: #999;
    font-size:1.2em;
    text-decoration: none;
}
a:hover{
    color: black;
}
.list{
    width: 80%;
    padding: 10px 0;
    background-color: whitesmoke;
    border-radius: 5px;
    margin-left: 10%;
}
