@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

html,
body {
    overflow-x: hidden;
    overflow-y: hidden;
}

.attribution {
    font-size: 11px;
    text-align: center;
    position: fixed;
    right: 0;
    bottom: 0;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}


* {
    background-color: #d6e2f0;
}

section.main {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.component {
    height: 500px;
    width: 320px;
    font-family: 'Outfit', sans-serif;
    font-size: 15px;
    text-align: center;
    color: #1f3251;
    background-color: white;
    border-radius: 20px;
    box-shadow: 10px 10px 20px hsla(220, 15%, 55%, 0.2)
}

img {
    margin-top: 18px;
    border-radius: 10px;
}

.component h1,
.component p {
    background-color: white;
    margin-top: 20px;
    margin-left: 35px;
    margin-right: 35px;
}

h1 {
    font-size: 20px;
}
